body{
    font-size: 1em;
}

.box{
    padding-bottom: 10px;
    padding-top: 10px;
}
.box-container{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 250px;
}
.btn{
    margin: 5px;
    width: 150px;
}

.InputNumber{
    width: 50px;
    text-align: center;
}
.sfunc{
    font-weight: bold;
}
.sthanks{
    font-weight: bold;
    font-size: 1.5em;
    /* letter-spacing: 0.2em; */
    line-height: 70px;
}